.container {
    margin: 1rem 0;
    padding: 1.5rem;
    background-color: #BBE0EF;
    border-radius: 1rem;
    text-align: center;
}

.title {
    color: #161e54;
    font-size: 2rem;
    font-weight: 600;
}